@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

:root {
  --accent-color: var(--color-fuchsia-400);
  --accent-color2: var(--color-purple-900);
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
}

dialog::backdrop {
  background-color: rgb(15 23 42 / 0.5);
}
